.header {
    background-color: $colorPrincipal;
    & &__logo {
        width: 100px;
        h1 {
            color: $headings;
            font: $fontPrimary;
        }
    }
    &__menu {
        display: flex;
        ul {
            display: inline-block;
            li {
                background-color: $colorPrincipal;
                a {
                    color: blue;
                    &:hover {
                        color: red;
                    }
                    &:visited {
                        color: green;
                    }
                }
            }
        }
    }
    &__search {
        width: 200px;
    }
}