$colorPrincipal: #ff6347;
$colorBase: #333;
$headings: #a1073b;

$borderBox: 2px solid #999;

$fontPrimary: normal 48px/1.5 "Oswald", sans-serif;
$fontSecondary: 36px;

$mobile: 576px;
$tablet: 768px;
$desktop: 1200px;