* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

@import 'vars';
@import 'header';
@import 'pages';

@media (min-width: $tablet) {
    .section {
        background: $colorBase;
    }
}